.page__about {}

.container {}

.about__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding-top: 60px;
}

.text {
    margin-bottom: 50px;
    margin-top: 50px;
}

.about__item {}

.about_title {}

.about__text {
    color: #292929;
    font-size: 21px;
    line-height: 32px;
    max-width: 624px;
}

.about__images {}

.imgs {}

.page__about-bottom {}

.container {}

.about-bottom__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-top: 100px;
}

.about-bottom__item {}

.abou-bottom_title {}

.about-bottom__text {
    color: #292929;
    font-size: 21px;
    line-height: 32px;
    max-width: 624px;
}

.text {}

.about-bottom__text {}

.about-bottom__images {}

.imgs {}