.footer {
    background: #000;
    margin-top: 100px;
}

.container {}

.footer__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {}

.footer__images {}

.footer__sochial {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sochial__imgs {
    width: 20px;
    height: 20px;
}